<section class='today page'>
  <h2 class='page__title'>Today</h2>
  <section class='page__list'>
    <%= render 'shared/list' %>
  </section>
  <section class='page__stats'>
    <%= render 'shared/stats' %>
  </section>
</section>
