<h1>On the mind</h1>

<%= form_for(@entry) do |f| %>

  <div class="field">
    <%= f.text_field :title, autofocus: true %>
    <%= f.submit 'record' %>
  </div>
<% end %>


<table>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= link_to entry.title, entry %></td>
      </tr>
    <% end %>
  </tbody>
</table>

