<section class='entry-focus'>
  <div class="cancel">x</div>
  <div class="form-contents">
    <%= form_for(@entry) do |f| %>
      <div class="field">
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.text_field :entry, autofocus: true, class: 'jot-entry', :autocomplete => :off, placeholder: "What's on your mind?"  %>
        <%= f.text_area :body, autofocus: true, class: 'jot-body' %>
      </div>
    <% end %>
  </div>
</section>
