<ul>
  <li><%= link_to 'today', root_path %></li>
</ul>
<hr>
<ul>
  <% @archives.each do |archive| %>
    <li><%= link_to archive, archive_path(archive) %></li>
  <% end %>
</ul>
<hr>
<ul>
  <% @tag_list.each do |tag| %>
    <li class='tag'><%= link_to tag.title_no_hash, "/tags/#{tag.title_no_hash}" %></li>
  <% end %>
</ul>



