<%= form_for(@jot) do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_field :title, class: 'jot-input', :autocomplete => :off, placeholder: "what's on your mind?", id: 'new-jot' %>
    <%#= f.submit 'jot', class: 'jot-submit' %>
    <div class="tip">
      (hit enter to save)
    </div>
  </div>
<% end %>
