<section class='stats'>
  <span class="stats__count"><%= pluralize(@jot_count, 'jot') %></span>
  <span class="stats__count"><%= pluralize(@days, 'day') %></span>
  <span class="stats__count"><%= pluralize(@tags, 'tag') %></span>
</section>
