<section class='stats'>
  <span class="count"><%= pluralize(@entry_count, 'jot') %></span>
  <span class="count"><%= pluralize(@days, 'day') %></span>
  <span class="count"><%= pluralize(@tags, 'tag') %></span>
</section>
