.jot-focus {
  border-radius: 3px;
  border: 1px solid #545454;
  background: rgba(25,25,25,0.98);
  @include media($medium-screen) {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
  .cancel {
    @include media($medium-screen) {
      font-size: 3em;
      color: white;
      position: absolute;
      top: 10px;
      right:30px;
      cursor: pointer;
      &:hover {
        &::before{
          @include transition(all, 300ms, ease-in-out);
          content: 'cancel';
          color:#666666;
          font-size: 0.5em;
          margin-right: 10px;
        }
      }
    }
  }
  .form-contents {
    padding: 2em;
    font-size: 2em;
    .jot-jot {
      margin-top: 5em;
      position: relative;
      width: 100%;
      background: rgba(20,20,20,0.0);
      border: none;
      border-bottom: 1px solid rgba(255,255,255,0.1);
      border-radius: 0;
      font-weight: 300;
      box-shadow: none;
      color: #66FFFF;
      &.with-body {
        margin-top: 0;
      }
    }
    .jot-body {
      position: relative;
      width: 100%;
      background: rgba(255,255,255,0.6);
      border: none;
      box-shadow: none;
      padding: 1.5em;
      color: #333333;
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
