.jot-focus {
  display: none;
  z-index: 100;
  @include media($medium-screen) {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    // background-image: linear-gradient(240deg, #10371D, #1A2237);
    // background-image: linear-gradient(-90deg, #4B3B5E, #A33E46);
    // background-image: linear-gradient(140deg, #4B3B5E, #A33E46);
    background-image: linear-gradient(220deg, #0B5044, #093453);
    // background-image: url("https://images.unsplash.com/photo-1433321768402-e8ed97b0324c?q=80&fm=jpg&s=fd1df3a18da9488dee0be9d7f96463f9");
    // background-image: url("https://images.unsplash.com/photo-1415931633537-351070d20b81?q=80&fm=jpg&s=fb26af809d5b68ba0d269eaf41f7816c");
    // background-image: url("https://images.unsplash.com/photo-1429734160945-4f85244d6a5a?q=80&fm=jpg&s=1e4502a7439b5792e5b7b0a25811baba");
    background-size: cover;
    color: white;
  }

  .modal-controls {
    @include media($medium-screen) {
      text-align: right;
      font-size: 2em;
      padding: 1em;
      cursor: pointer;
      @include transition(all 300ms ease-in-out);
    }
  }

  .jot-form {
    padding: 2em;
    font-size: 2em;
    margin-top: 3em;
    .title {
      position: relative;
      width: 100%;
      background: rgba(20,20,20,0.0);
      border: none;
      border-bottom: 1px solid rgba(255,255,255,0.1);
      border-radius: 0;
      font-weight: 300;
      box-shadow: none;
      color: #66FFFF;
    }
  }
  .jot-tips,
  .jot-body,
  .save-button,
  .tags {
    display: none;
  }
}

