.entry {
  @include media($medium-screen) {
    padding-left: 0.25em;
    &:hover {
      background: #F9EFF0;
    }
  }
  .delete {
    @include media($medium-screen) {
      float: right;
      background-color: #F8EBCA;
      margin-top: -7px;
      a {
        padding: 16px;
        display: inline-block;
        color: #F495A4;
      }
    }
  }
}
