.main-content {
  background: white;
  @include media($medium-screen) {
    padding: 1.25em;
    min-height: 1200px;
    box-shadow: 0px 1px 2px #BFBFBF;
  }
}

.line-decoration {
  @include media($medium-screen) {
    margin-top: 2em;
    margin-left: 3em;
    border-left: 2px solid #FD9A9F;
    padding-left: 3em;
  }
}
