.stats {
  color: rgb(189, 188, 188);
  @include row;
  @include media($medium-screen) {
    padding: 0.5em 1.25em;
    margin-bottom: 1em;
    border-radius: 3px;
  }
}

.stats__count {
  @include media($medium-screen) {
    font-size: 1.5em;
    @include span-columns(12);
    text-align: right;
    margin-top: 1em;
    &:first-child { margin-top: 0; }
  }
}
