@import 'bourbon';
@import 'neat';
@import 'base/base';
@import 'layout';
@import 'modules/authentication';
@import 'modules/main_content';
@import 'modules/jot';
@import 'modules/stats';
@import 'modules/welcome';
@import 'modules/jot_focus';

@import 'state/jot_focus/new';
@import 'state/jot_focus/active';
@import 'state/jot_focus/tags';
@import 'state/jot_focus/body';

@import 'state/tips/jot_tips';


body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(-90deg, #9029FF, #D6292C);
}

.page {
  @include row();
  .page__title {
    color: rgba(255,255,255,0.5);
    font-size: 1em;
    @include media($medium-screen) {
      @include span-columns(1);
    }
  }
  .page__list {
    @include media($medium-screen) {
      @include span-columns(9);
    }
  }
  .page__stats {
    @include media($medium-screen) {
      @include span-columns(2);
    }
  }
}

.control {
  background: #373737;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;

  &:hover {
    .control__shortcut {
      @include transition(all 130ms ease-in-out);
      opacity: 0.8;
    }
  }
}

.control__actions {
  cursor: pointer;
  > li {
    padding-left: 2em;
    color: white;
    padding: 0.25em 1em;
    margin: 0.5em 0;
    @include transition(all 130ms ease-in-out);
    &:hover {
      @include transition(all 130ms ease-in-out);
      color: black;
      background: #eee;
      a {
        color: black;
        display: inline-block;
      }
    }
  }
}

.control__shortcut {

  @include transition(all 130ms ease-in-out);

  opacity: 0;
  display: inline-block;
  border: 1px solid #B3B3B3;
  color: #B3B3B3;
  position: relative;
  top: -2px;
  font-size: 0.5em;
  border-radius: 3px;
  padding: 0.025em 0.5em 0.12em;
  margin-left: 0.25em;
}

.archive-title {
  border-top: 1px solid rgba(255,255,255,0.2);
  padding: 1em;
  margin: 1em 0;
  text-align: right;
  color: rgba(255,255,255,0.5);
  font-size: 1em;
}

.new-jot {
}

input.new-jot__jot-input  {
  background: rgba(255,255,255,0);
  border: none;
  border-bottom: 3px solid $white;
  border-radius: 0px;
  color: $white;
  font-size: 2em;
  box-shadow: none;
  &:focus {
    border-bottom: 3px solid $white;
    box-shadow: none;
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: $white;
  }
  &::-moz-placeholder {
    color: $white;
  }
}

.new-jot__tip {
  @include transform(skew(-10deg));
  color: $white;
  display: none;
  font-size: 0.8em;

}
